.btn-container {
    width: 100%;

    a {
        display: block;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
    }

    .btn {
        width: 100%;
        border-radius: 8px;
        font-family: 'Custom';
        font-weight: 700;
        font-size: 18px;
        line-height: 60px;
        text-align: center;
        color: $black;


        &.white {
            background-color: $white;
        }
    }
}
