.home {
    .primary-img {
        width: 100%;
        margin: 25px auto 32px;
        image-rendering: auto;
    }

    .secondary-img {
        width: 153px;
        margin: 0 auto 32px;
        image-rendering: auto;
    }

    h1{
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #fff;
        margin-bottom: 32px;
    }    
}
